# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
.env

# Temporary files
*.tmp

# Streamlit cache
.streamlit/

# Mac files
.AppleDouble
.LSOverride